.menu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 30px;
  margin-left: 20px;
}

.menu__link {
  margin: 18px;
  padding-right: 15px;
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "MORF" 15, "SHLN" 50;
  font-weight: 600;
  font-size: 30px;
  line-height: 24px;
  color: #060606;
  display: inline-block;
  /* default display for larger screens */
}

.menu__link2 {
  margin: 18px;
  padding-right: 15px;
  font-family: "Noto Sans Georgian", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #060606;
  font-weight: 500;
  display: inline-block;
}

/* About and Contact Content */
/* General Styles for both Georgian and English sections */
/* General Styles for both Georgian and English sections */
.about__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(59, 56, 56, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  /* Hidden by default */
}

.about__content__box {
  width: 80%;
  max-width: 800px;
  aspect-ratio: 16 / 9;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: beige;
  padding: 0.8rem;
  border: 10px solid transparent;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 8, 255, 0.69);
  margin: auto;
}

.about__content__box::before {
  content: '';
  position: absolute;
  top: -17px;
  left: -17px;
  right: -17px;
  bottom: -17px;
  background: linear-gradient(to right, red, yellow, green, cyan, blue, violet);
  border-radius: 20px;
  z-index: -1;
}

/* General image styling for both sections */
.about__foto,
.contact__foto {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

/* Flexbox wrapper for both image and text */
.about__content__wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: flex-start;
  position: relative;
  /* Allow child elements to be aligned */
}

/* Image container */
.about__contact__img {
  flex-shrink: 0;
  width: 50%;
  height: auto;
  margin-right: 20px;
  /* Space between image and text */
}

/* Text container: this will align the text to the top right of the image */
.about__sub__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0;
  /* Remove any top margin */
  align-self: flex-start;
  /* Align text to the top of the container */
  flex-grow: 1;
  /* Allow the text section to grow and take available space */
  overflow-wrap: break-word;
  width: auto;
}

/* Close button customization */
.close__button {
  position: absolute;
  top: 2px;
  right: 13px;
  width: 32px;
  height: 32px;
  font-size: 2.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 50%;
}

.close__button__contact {
  width: 30px;
  height: 30px;
  cursor: pointer;
}